
#repository {
    background-image: url(../img/Background-Blue.png);
}

#repository .section-wrapper {
    background-color: #ffffff;
    padding: 50px;
}

#repository h2 {
    color: #ffffff;
    text-align: center;
    padding-bottom: 35px;
}

#repository  table {
    border: 3px solid #eee;
}

#repository table tr {
    border: 1px solid #eee;
}

#repository table tfoot {
    display: none;
}


@media only screen and (min-width: 200px) and (max-width: 768px) {

    .gform_wrapper .gform_body .top_label li.gfield.gf_right_half {
        float: left;
        clear: left !important;
        width: 99%;
    }

    .gform_wrapper .gform_body .top_label li.gfield.gf_left_half {
        float: left;
        clear: left !important;
        width: 99%;
    }

}

@media screen and (min-width: 767px){
    #repository {
        padding: 250px 200px 250px 200px;
        margin-top: 105px;

    }
    
    #repository h2 {
        font-size: 5em;

    } 
}

@media screen and (max-width: 768px){
    #repository {
        padding: 50px 0px 50px 0px;
        margin-top: 65px;
    }
    #repository h2 {
        font-size: 2em;
    } 
    #repository .section-wrapper{
        width: 90%;
        margin-left: 20px;
    }
}